html {
    font-family: 'Roboto', sans-serif;
}

.btn {
    border: 1px solid #ff1744;
    padding: 5px 16px;
    border-radius: 3px;
    text-decoration: none;
    background-color: #ff1744;
    color: white;
    font-weight: 700;
}

.btn:hover {
    color: white;
    background: #ff616f;
}

.primary-btn {
    background-color: #00e676;
    color: white;
    border-color: #00e676;
}

.primary-btn:hover {
    color: white;
    background: #66ffa6;
}

.secondary-btn {
    background: #03a9f4;
    color: white;
    border-color: #03a9f4;
}

.secondary-btn:hover {
    color: white;
    background: #67daff;
}

.title {
    font-weight: 300;
}

.main-title {
    margin-top: 40px;
}

.paragraaf-preview {
    width: 70%;
}

div.container {
    display: flex;
    justify-content: space-between;
}

div.buttons {
    width: 400px;
}