html {
    font-family: 'Roboto', sans-serif;
}

.btn {
    border: 1px solid #f00;
    padding: 5px 16px;
    border-radius: 3px;
    text-decoration: none;
    background-color: red;
    color: white;
    font-weight: 700;
}

.btn:hover {
    background: white;
    color: red;
}

.primary-btn {
    background-color: rgb(18, 201, 18);
    color: white;
    border-color: rgb(18, 201, 18);
}

.primary-btn:hover {
    background: white;
    color: rgb(18, 201, 18);
}

.secondary-btn {
    background: blue;
    color: white;
    border-color: blue;
}

.secondary-btn:hover {
    background: white;
    color: blue;
}

.title {
    font-weight: 300;
}

.main-title {
    margin-top: 40px;
}

.paragraaf-preview {
    width: 70%;
}